{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'movies/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explorador de Filmes</title>
</head>
<body>

    <nav class="navbar">
        <a href="{% url 'home' %}" class="logo">
            🎬 Movie Explorer
        </a>
    </nav>

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

<footer class="footer">
    Desenvolvido por Gabriel Bastos
</footer>
<script src="{% static 'movies/script.js' %}"></script>

</body>
</html>