:root {
    --bg-color: #141414;
    --card-color: #1f1f1f;
    --primary-color: #e50914;
    --primary-hover: #b20710;
    --text-color: #ffffff;
    --secondary-text: #cccccc;
    --border-radius: 8px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1, h2 {
    color: var(--primary-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
}

form {
    margin-bottom: 30px;
}

input {
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 6px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background-color: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-hover);
}

select {
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin-left: 10px;
}

/* Navbar */

.navbar {
    background-color: rgba(20,20,20,0.95);
    padding: 20px 30px;
    border-bottom: 1px solid #333;
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--primary-color);
    font-size: 28px;
    font-weight: bold;
}

.logo:hover {
    color: #ff3b45;
}

.nav-link {
    color: var(--text-color);
    font-weight: bold;
    font-size: 16px;
}

.nav-link:hover {
    color: var(--primary-color);
}

/* Layout */

.main-content {
    padding-top: 20px;
}

.footer {
    margin-top: 60px;
    padding: 25px;
    text-align: center;
    color: var(--primary-hover);
    border-top: 1px solid #333;
    font-size: 20px;
}

/* Mensagens */

.messages {
    margin-bottom: 20px;
}

.alert-message {
    background-color: #2d6a4f;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* Responsividade */

@media (max-width: 768px) {
    body {
        padding: 20px;
    }
}